<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= status %> <%= msg %></title>
</head>
<body>
    <h1><%= status %> Error</h1>
    <p><%= msg %></p>
    <p>Try to refreshing the page, if this problem persists then we're already working on it.</p>
</body>
</html>